#container {
  position: absolute;
  height: 95%;
  width: 100%;
  background: black
}

#top {
  width: 100%;
  background: black
}

#disk1, #disk2, #disk3, #disk4{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
#disk1 {
  background: rgb(255,64,64);
}
#disk2 {
  background: rgb(31, 255, 31);
}
#disk3 {
  background:rgb(247, 0, 247);
}
#disk4 {
  background:rgb(9, 230, 238);
}

#timer {
  color: white;
}